---
import { Image } from "astro:assets";

import backTitle from "@/assets/logo/back-title.png";
import backSub from "@/assets/logo/back-sub.png";
import title from "@/assets/logo/title-magazine.png";
import subTop from "@/assets/logo/sub-top.png";
import subBottom from "@/assets/logo/sub-bottom.png";

import front from "@/assets/textures/front.png";
import back from "@/assets/textures/back.png";
import spine from "@/assets/textures/spine.png";
import spineHorizontal from "@/assets/textures/spine-horizontal.png";
import spineVertical from "@/assets/textures/spine-vertical.png";

import doodleBl from "@/assets/textures/doodle-bl.svg";
import doodleTr from "@/assets/textures/doodle-tr.svg";

import topBar from "@/assets/topbar.svg";
import hcFlag from "@/assets/hc-flag.svg";
import Carousel from "./Carousel.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("magazines", "magazine");
if (!entry) {
  throw new Error("Hack Club magazine entry not found");
}
const { pages } = entry.data;
---

<Image src={topBar} alt="" role="presentation" class="h-auto w-full" />
<div class="bg-grid relative">
  <div class="flex px-12 sm:px-16">
    <div class="min-w-0 flex-1 max-lg:hidden"></div>
    <Image
      src={hcFlag}
      alt=""
      role="presentation"
      class="h-20 w-auto flex-none"
    />
    <div class="flex min-w-0 flex-1 items-center justify-end">
      <p class="text-text text-base">
        see how it started: <a
          href="/v1"
          class="text-blue-fg font-bold underline-offset-2 transition hover:text-blue-800 hover:underline"
          >go to v1 →</a
        >
      </p>
    </div>
  </div>
  <div
    class="flex w-full justify-center gap-x-8 gap-y-12 p-12 max-lg:flex-col max-lg:items-center sm:p-16"
  >
    <div class="group relative isolate flex-none px-16 perspective-distant">
      <div
        id="magazine-3d"
        class="aspect-magazine relative h-104 rotate-6 rotate-x-3 -rotate-y-3 opacity-0 shadow-lg transform-3d"
      >
        <!-- Front and back sides -->
        <Image
          src={front}
          alt=""
          role="presentation"
          class="absolute inset-0 size-full translate-z-1.5 object-cover backface-hidden"
          priority
        />
        <Image
          src={back}
          alt=""
          role="presentation"
          class="absolute inset-0 size-full -translate-z-1.5 rotate-y-180 object-cover backface-hidden"
          priority
        />

        <!-- Spine -->
        <Image
          src={spine}
          alt=""
          role="presentation"
          class="absolute top-0 right-full h-full w-3 origin-right translate-z-1.5 -rotate-y-90 object-cover backface-hidden"
          priority
        />
        <Image
          src={spineVertical}
          alt=""
          role="presentation"
          class="absolute top-0 left-full h-full w-3 origin-left translate-z-1.5 rotate-y-90 object-cover backface-hidden"
          priority
        />

        <!-- White boxes to cover top and bottom sides -->
        <div
          class="absolute bottom-full left-0 h-3 w-full origin-bottom translate-z-1.5 rotate-x-90 bg-white backface-hidden"
        >
        </div>
        <div
          class="absolute top-full left-0 h-3 w-full origin-top translate-z-1.5 -rotate-x-90 bg-white backface-hidden"
        >
        </div>
      </div>

      <Image
        id="hero-doodle-bl"
        src={doodleBl}
        alt=""
        role="presentation"
        class="absolute -bottom-8 -left-4 -z-10 h-16 w-auto opacity-0"
        priority
      />
      <Image
        id="hero-doodle-tr"
        src={doodleTr}
        alt=""
        role="presentation"
        class="absolute -top-14 -right-2 -z-10 h-24 w-auto opacity-0"
        priority
      />
    </div>

    <div class="flex min-w-0 flex-1 flex-col justify-center max-lg:text-center">
      <div id="hero-logo" class="relative w-fit opacity-0 max-lg:mx-auto">
        <Image
          src={backTitle}
          alt=""
          role="presentation"
          class="h-24 w-auto"
          priority
        />
        <Image
          src={title}
          alt="magazine"
          class="absolute top-1/2 left-1/2 h-14 w-auto -translate-x-1/2 -translate-y-1/2"
          priority
        />
      </div>
      <p
        id="hero-strapline"
        class="font-jua text-text mt-8 text-3xl text-pretty opacity-0 max-lg:max-w-2xl"
      >
        The 2025 Hack Club showcase. Over 150 of the most unique and awesome
        projects. Designed and built by teenagers, for you to explore.
      </p>
      <div id="hero-btns" class="mt-8 flex gap-4 max-lg:justify-center">
        <div class="flex-none opacity-0">
          <a
            href="/get"
            class="bg-stripes-from-blue-bg bg-stripes-to-blue-fg font-jua flex h-12 items-center px-5 text-xl text-white transition hover:scale-105 active:scale-100"
          >
            <span
              class="text-blue-bg mr-2 grid size-6 place-items-center rounded-full bg-white text-sm uppercase"
              >a</span
            >
            get a copy
          </a>
        </div>
        <div class="flex-none opacity-0">
          <a
            href="#"
            class="bg-stripes-from-green-bg bg-stripes-to-green-fg font-jua flex h-12 items-center px-5 text-xl text-white transition hover:scale-105 active:scale-100"
          >
            <span
              class="text-green-bg mr-2 grid size-6 place-items-center rounded-full bg-white text-sm uppercase"
              >x</span
            >
            see the pdf
          </a>
        </div>
      </div>
      <p id="hero-discover" class="mt-4 text-base text-neutral-500 opacity-0">
        or scroll down to discover more!
      </p>
    </div>
  </div>

  <div
    id="hero-carousel"
    class="overflow-x-clip bg-linear-to-t from-white py-8 opacity-0"
  >
    <Carousel pages={pages} />
  </div>
</div>

<script>
  import { animate, createTimeline, stagger } from "animejs";

  // animate("#magazine-3d", {
  //   rotateY: ["-3deg", "-183deg", "-363deg"],
  //   ease: "linear",
  //   duration: 10_000,
  //   loop: true,
  // }).play();

  const timelineLeft = createTimeline()
    .add("#magazine-3d", {
      opacity: [0, 1],
      scale: [0.8, 1],
      rotateY: ["-3deg", "-3deg"],
      rotateX: ["3deg", "3deg"],
      ease: "outBack",
      duration: 400,
    })
    .add(
      "#hero-doodle-tr",
      {
        opacity: [0, 1],
        translateX: [-20, 0],
        translateY: [20, 0],
        ease: "outBack(4)",
        duration: 400,
      },
      "<<+=200",
    )
    .add(
      "#hero-doodle-bl",
      {
        opacity: [0, 1],
        translateX: [20, 0],
        translateY: [-20, 0],
        ease: "outBack(4)",
        duration: 400,
      },
      "<<",
    );

  const timelineRight = createTimeline()
    .add("#hero-logo", {
      opacity: [0, 1],
      translateY: [20, 0],
      ease: "outExpo",
      duration: 1000,
    })
    .add(
      "#hero-strapline",
      {
        opacity: [0, 1],
        translateY: [20, 0],
        ease: "outExpo",
        duration: 1000,
      },
      "<<+=100",
    )
    .add(
      "#hero-btns > div",
      {
        opacity: [0, 1],
        translateY: [20, 0],
        ease: "outExpo",
        duration: 1000,
        delay: stagger(100),
      },
      "<<+=100",
    )
    .add(
      "#hero-discover",
      {
        opacity: [0, 1],
        ease: "linear",
        duration: 200,
      },
      "<<+=500",
    )
    .add(
      "#hero-carousel",
      {
        opacity: [0, 1],
        translateY: [20, 0],
        ease: "outExpo",
        duration: 1000,
      },
      "<<+=100",
    );

  const timelineMain = createTimeline()
    .sync(timelineLeft)
    .sync(timelineRight, "<<+=500")
    .play();

  timelineMain.then(() => {
    animate("#magazine-3d", {
      rotateY: ["-3deg", "-183deg", "-363deg"],
      rotateX: ["3deg", "-3deg", "3deg"],
      ease: "inOutExpo",
      duration: 7500,
      loop: true,
    }).play();
  });
</script>
