---
import { Image } from "astro:assets";

// import magazineSolo from "@/assets/magazine-solo.png";
import physical from "@/assets/pictures/physical.jpg";
import michaelReeves from "@/assets/pictures/michael-reeves.png";
import techjoyce from "@/assets/pictures/techjoyce.png";

import YouTube from "@/assets/icons/youtube.svg";

import yay from "@/assets/emoji/yay.gif";

import Sep from "@/assets/sep.svg";
---

<div class="text-text relative p-12 sm:p-16">
  <Sep class="absolute inset-x-0 -top-2.5 h-auto w-full text-white" />

  <p class="text-3xl leading-snug">
    We gave out 100 copies of the magazine at Campfire Flagship, to all the
    attendees, Open Sauce staff, and YouTubers there! <Image
      src={yay}
      alt=""
      role="presentation"
      class="-mt-1 inline h-8 w-auto"
    />
  </p>
  <div class="mt-6 flex gap-4">
    <a
      href="#"
      class="bg-stripes-from-blue-bg bg-stripes-to-blue-fg font-jua flex h-12 items-center px-5 text-xl text-white transition hover:scale-105 active:scale-100"
    >
      <span
        class="text-blue-bg mr-2 grid size-6 place-items-center rounded-full bg-white text-sm uppercase"
        >a</span
      >
      get a copy
    </a>
    <a
      href="#"
      class="bg-stripes-from-green-bg bg-stripes-to-green-fg font-jua flex h-12 items-center px-5 text-xl text-white transition hover:scale-105 active:scale-100"
    >
      <span
        class="text-green-bg mr-2 grid size-6 place-items-center rounded-full bg-white text-sm uppercase"
        >x</span
      >
      see the pdf
    </a>
  </div>

  <div
    class="mt-12 grid grid-cols-1 grid-rows-4 gap-6 md:grid-cols-2 md:grid-rows-2"
  >
    <div
      class="corner-squircle relative row-span-2 overflow-clip rounded-4xl contain-size"
    >
      <Image
        src={physical}
        alt=""
        role="presentation"
        class="size-full object-cover"
      />
      <div
        class="corner-squircle absolute right-2 bottom-2 flex h-8 items-center rounded-2xl bg-white px-2.5"
      >
        <p class="font-jua text-text text-lg">physical magazine wowow</p>
      </div>
    </div>
    <div
      class="corner-squircle relative h-88 overflow-clip rounded-4xl contain-size"
    >
      <Image
        src={michaelReeves}
        alt=""
        role="presentation"
        class="size-full object-cover object-[50%_25%]"
      />
      <a
        href="https://youtube.com/@MichaelReeves"
        class="corner-squircle group font-jua absolute right-2 bottom-2 flex h-8 items-center rounded-2xl bg-white px-2.5"
      >
        <p class="text-text text-lg underline-offset-2 group-hover:underline">
          michael reeves
        </p>
        <YouTube class="ml-2 h-4 text-[#ff0000]" />
        <span class="-mb-0.5 ml-1 text-xs text-[#ff0000]">7.7m</span>
      </a>
    </div>
    <div
      class="corner-squircle relative h-88 overflow-clip rounded-4xl contain-size"
    >
      <Image
        src={techjoyce}
        alt=""
        role="presentation"
        class="size-full object-cover object-[50%_40%]"
      />
      <a
        href="https://youtube.com/@TechJoyce"
        class="corner-squircle font-jua group absolute right-2 bottom-2 flex h-8 items-center rounded-2xl bg-white px-2.5"
      >
        <p class="text-text text-lg underline-offset-2 group-hover:underline">
          techjoyce
        </p>
        <YouTube class="ml-2 h-4 text-[#ff0000]" />
        <span class="-mb-0.5 ml-1 text-xs text-[#ff0000]">2.7m</span>
      </a>
    </div>
  </div>

  <!-- <div class="font-jua relative mt-12 space-y-4 text-8xl text-black/5">
    <p class="flex justify-between">
      <span>michael reeves</span>
      <span>polymars</span>
    </p>
    <p class="flex justify-between">
      <span>open sauce</span>
      <span>william osman</span>
    </p>
    <p class="flex justify-between">
      <span>codebullet</span>
      <span>techjoyce</span>
    </p>
    <p class="flex justify-between">
      <span>the backyard</span>
      <span>scientist</span>
    </p>
    <p class="flex justify-between">
      <span>allen pan</span>
      <span>sonderingemily</span>
    </p>

    <Image
      src={magazineSolo}
      alt=""
      role="presentation"
      class="absolute top-1/2 left-1/2 h-130 w-auto -translate-x-1/2 -translate-y-1/2"
    />
  </div> -->
</div>
