---
import { Image } from "astro:assets";

import postcard1 from "@/assets/postcard1.svg";
import postcard2 from "@/assets/postcard2.svg";
import postcard3 from "@/assets/postcard3.svg";
import postcard4 from "@/assets/postcard4.svg";

import magprojects from "@/assets/stats/magprojects.svg";
import projects from "@/assets/stats/projects.svg";
import hours from "@/assets/stats/hours.svg";
import countries from "@/assets/stats/countries.svg";
---

<div
  class="from-gradient-start to-gradient-end flex justify-between bg-linear-to-b px-10 py-16"
>
  <div class="flex-none space-y-12">
    <div class="relative rotate-3">
      <Image src={postcard4} alt="" role="presentation" class="h-90 w-auto" />
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <Image
          src={magprojects}
          alt="158"
          role="presentation"
          class="h-21 w-auto"
        />
        <p class="font-jua mt-4 text-4xl text-white text-shadow-md">
          projects in magazine
        </p>
      </div>
    </div>
    <div class="-rotate-2">
      <Image src={postcard1} alt="" role="presentation" class="h-90 w-auto" />
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <Image
          src={projects}
          alt="23,077"
          role="presentation"
          class="h-21 w-auto"
        />
        <p class="font-jua mt-4 text-4xl text-white text-shadow-md">
          projects made
        </p>
      </div>
    </div>
  </div>
  <div class="flex-none space-y-14 pt-8">
    <div class="-rotate-3">
      <Image src={postcard2} alt="" role="presentation" class="h-90 w-auto" />
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <Image
          src={hours}
          alt="240,000+"
          role="presentation"
          class="h-21 w-auto"
        />
        <p class="font-jua mt-4 text-4xl text-white text-shadow-md">
          hours spent making
        </p>
      </div>
    </div>
    <div class="-ml-2 rotate-1">
      <Image src={postcard3} alt="" role="presentation" class="h-90 w-auto" />
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <Image
          src={countries}
          alt="112"
          role="presentation"
          class="h-21 w-auto"
        />
        <p class="font-jua mt-4 text-4xl text-white text-shadow-md">
          countries
        </p>
      </div>
    </div>
  </div>
</div>
